@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100px;
  height: 100px;
}

section {
  margin-top:150px;
}

#nav-bar {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

@media(max-width: 800px) {
  #nav-bar {
    background-color: red;
  }
}

#navbar-links {
  align-self: flex-end:
}